PORT=3000
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.xxxxx.mongodb.net/laser_orders?retryWrites=true&w=majority
AUTH_USERNAME=admin
AUTH_PASSWORD=<define-una-contrasena-segura>
AUTH_TOKEN_SECRET=<define-un-secreto-largo-y-seguro>
